/*line-height: 18px;Межстрочный интервал*/
/*height: 50px; Функция для ограничения высоты строки*/
/*font-weight: normal (обычная жирность шрифта);
bold(жирный шрифт)*/
/*font-style: normal (не курсив);
italic(жирный шрифт),
oblique(наклонный)*/
/*text-align: justify;
(center, left,right, justify)*/
/*vertical-align: bottom(по нижнему краю);
Для выравнивания в строе (top, middle, sub и super (нижний и верхний индекс),
baseline, text-bottom и text-top (по самому нижнему и верхнему краю))*/
/*text-indent: 30px;
Функция для выствления красной строки*/
/*width: 380px;
Функция для ограничения ширины строки*/

/* list-style-type: 
list-style-position:
list-style-images:   */
body {
    font-family: 'Palatino Linotype', serif;
    max-width: 600px;
    padding: 0px 30px;
}

h1 {
    margin-bottom: 0px;
}

p {
    margin-top: 0px;
}

fieldset {
    margin-bottom: 15px;
    padding: 10px;

}

legend {
    padding: 0px 3px;
    font-weight: bold;
    font-variant: small-caps;
}

label {
    width: 186px;
    display: inline-block;
    vertical-align: top;
    margin: 6px;
}

em {
    font-weight: bold;
    font-style: normal;
    color: #f00;
}

input:focus {
    background: #eaeaea;
}

input,
textarea {
    width: 249px;
}

textarea {
    height: 100px;
    overflow: scroll;
}

select {
    width: 254px;
}

input[type=checkbox],
input[type=radio] {
    width: 10px;
}

input[type=submit] {
    width: 170px;
    padding: 10px;
}

/* Блок заполнения (padding box) - размерами этого блока управляет свойство padding
Для добавления скроллбаров - overflow: auto или scroll
Блок границ (border box) - свойство border влияет на размер блока т.к. добавляют свою толщину, 
outline рисует границу поверх элемента
Блок отступа (margin box) - свойство margin margin, outline*/